/* 	Begin Modified Meyer Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body { line-height: 1; }
table { border-collapse: collapse; border-spacing: 0; }
ul { list-style-type:disc; }
/*General styles*/

html, body, #container { height: 100%; }
button { border:none; cursor:pointer; }
#container { height: 100%; min-height: 100%;}
a { color:inherit; text-decoration:inherit; }

#in5footer,#demoNote,#loadIndicator{
	min-width:100%;
	color:#fff;
	background:#666;
	font-family:"Trebuchet MS", "Lucida Grande", Helvetica, sans-serif;
	text-align:center;
	font-size:15px;
	box-sizing:border-box; 
	-moz-box-sizing:border-box;
}

#loadIndicator{
	top:0; left:0; margin:auto;
	padding: 6px;
    position: fixed;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    transition:all 1s ease-in .5s;
    opacity:1;
    z-index:1;
}

body.loaded #loadIndicator {
	opacity:0;
	transform:translateY(-36px);
	-webkit-transform:translateY(-36px);
}

#loadIndicator img {
	vertical-align:text-bottom;
    width:18px;
}

#loadIndicator span:after {
	content:' Loading Content...';
}

#in5footer{
	height:26px;
	line-height:26px;
	clear:both;
	position: relative;
	margin-top: -26px;
}

#demoNote {
    right: 0; bottom: 0; margin: auto;
    height: 96px !important;
    padding: 36px 10px;
}

#in5footer a, #demoNote a {
	text-decoration:none;
	color:#99ccff;
}

.pageItem, .pageItemIFrame {
	display:block;
	position:absolute;
	top:0;
	left:0;
	width:auto !important;
	height:auto !important;
	box-sizing:border-box; 
	-moz-box-sizing:border-box;
	-webkit-tap-highlight-color:transparent;
}

.page {
	position:relative;
	float: left;
	height: 100%;
	width: 100%;
	overflow:hidden;
}

.pages {
	list-style: none outside none;
	padding: 0;
	margin: 0 auto ;
}	

#container > .page { /*center single page baker*/
    position:absolute;
    bottom:0;
    left:0; 
    right:0;
    top:0;
    margin:auto;
}

.textColumn {
	float:left;
}

.scroll {
	overflow:auto;
	-webkit-overflow-scrolling: touch;
}

.scroll-vert {
	overflow-y:auto;
	-webkit-overflow-scrolling: touch;
}

@media only screen and (max-device-width : 1024px) {
	.anythingSlider {padding:0;}
}

object, embed, img, a { 
  outline: 0;
}

svg {
    height: 100%;
    position: absolute;
    width: 100%;
}

.noPlugin {
	width:100%;
	height:100%;
	background:#ccc;
	border:1px solid #666;
	padding:6px;
}

.paper-vertical, .paper-horizontal {
	padding: 0 8px;
}

.paper-horizontal {
	position:absolute;
	top:50%;
	overflow:visible;
}

.paper-vertical .page, .paper-horizontal .page {
	border: 1px solid #bbb;	
	margin: 4px 4px 4px 0;
	-moz-box-shadow: 0px 0px 0px #999;
	-webkit-box-shadow: 0px 0px 5px #999;
	box-shadow: 0px 0px 5px #999;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#999999')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#999999');
}

.liquid .page, .page.liquid {
	position: absolute;
	width:100%;
	height:100%;
	overflow:hidden;
	display:none;
}

.page.liquid { /*for multi-file*/
    display:block;
}

.liquid .page.activePage {
	display:block;
}

#container > nav { display:none; }
#container > nav > button {
	display: block;
	position:absolute;
	top:50%;
	width: 30px;
	height: 40px;
	margin: -20px 0 0 0; /* half height of image */
	text-align: center;
	outline: 0;
	background: url(../images/arrows-minimalist.png) no-repeat;
}	

#container > nav > #backBtn { 
	left: 0; 
	background-position: left bottom;
}
#container > nav > #backBtn:hover { background-position: left top; }

#container > nav > #nextBtn { 
	right: 0; 
	background-position: right bottom; 
}
#container > nav > #nextBtn:hover { background-position: right top; }


/* ColorBox Core Style: The following CSS is consistent between example themes and should not be altered. */
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box;}

/* 	User Style:
    Change the following styles to modify the appearance of ColorBox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:#fff;}
#colorbox{
	border-radius: 12px;
    box-shadow: 0 0 10px 10px #CCCCCC;
}
    #cboxContent{background:#fff; overflow:hidden;}
    #cboxMiddleLeft, #cboxMiddleRight { width:8px; }
    #cboxTopCenter{ height:24px; } 
    #cboxBottomCenter { height:8px; }
	.cboxIframe{background:#fff;}
	#cboxError{padding:50px;}
	#cboxLoadedContent{background:#fff; margin-top:28px;}
	#cboxTitle{position:absolute; top:4px; left:0; text-align:center; width:100%; color:#949494;}
	#cboxCurrent{position:absolute; top:4px; left:0px; color:#949494;}
	#cboxSlideshow{position:absolute; bottom:4px; right:30px; color:#0092ef;}
	#cboxPrevious{position:absolute; top:50%; left:0px; margin-top:-32px; background:url(../images/lb_controls.png) no-repeat top left; width:33px; height:65px; text-indent:-9999px;}
	#cboxNext{position:absolute; top:50%; right:0px; margin-top:-32px; background:url(../images/lb_controls.png) no-repeat top right; width:33px; height:65px; text-indent:-9999px;}
	#cboxLoadingOverlay{background:#fff;}
	#cboxLoadingGraphic{background:url(../images/loading.gif) no-repeat center center;}
	#cboxClose{position:absolute; top:2px; right:0px; display:block; background:url(../images/lb_controls.png) no-repeat top center; width:26px; height:24px; text-indent:-9999px;}
/*
  The following fixes a problem where IE7 and IE8 replace a PNG's alpha transparency with a black fill
  when an alpha filter (opacity change) is set on the element or ancestor element.  This style is not applied to or needed in IE9.
  See: http://jacklmoore.com/notes/ie-transparency-problems/
*/
.cboxIE #cboxTopLeft, .cboxIE #cboxTopCenter, .cboxIE #cboxTopRight, .cboxIE #cboxBottomLeft, .cboxIE #cboxBottomCenter,
.cboxIE #cboxBottomRight, .cboxIE #cboxMiddleLeft, .cboxIE #cboxMiddleRight {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
}

.hidden { display:none; }
.mso > .state { display:none; width:100%; height:inherit; position:absolute; }
.mso > .state.active { display:block; }
.mso.slideshow.seq, .panzoom { overflow: hidden; }
.panzoom { cursor:move; cursor:-moz-grab; cursor:-webkit-grab; }

.align-vert { display:table; }
[class^="valign"] {
	position:relative;
	display:table-cell;
	vertical-align:middle;
}
.valign-bottom { vertical-align:bottom; }

.flex-image {
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center;
}

.fill-image {
	background-size:cover;
	background-repeat:no-repeat;
}

/*anchor object styles*/
img.noTextWrap {
	position:absolute;
}

img.alignLeft { float:left; }
img.alignRight { float:right; }
img.alignCenter {display:block; margin-left:auto; margin-right:auto;}

img.leftFullWidth {
	float:left;
	padding-right:100%;
}

img.rightFullWidth {
	float:right;
	padding-left:100%;
}

ul.thumbs {
	padding:20px;
	white-space: nowrap;
    width: 1px;
}

ul.thumbs li { /*Baker index thumbnails*/
    display:inline;
    list-style-type:none;
    margin: 0 4px;
    outline: none;
    vertical-align:top;
}
ul.thumbs > li img { box-shadow: 0 0 4px rgba(0, 0, 0, 0.5); }

/*CSS Generated from InDesign Styles*/
body { background:#ededed; }.page { width:1024.00px; height:768.00px; background: #fff !important; }.paper-vertical { width:1024.00px; height:100%; }.paper-horizontal { width:3102.00px; height:768.00px; margin-top:-384.00px; }@media all and (max-height:768.00px) {	.paper-horizontal { margin:0;top:0;}	#container > .page { margin:0 auto;}/*pos top for webkit+baker*/}#item6 {	width:19px !important;	height:21px !important;	left:990px !important;	top:735px !important;	background:url('../images/item6.png') no-repeat 0px 50%;}#item27 {	width:213px !important;	height:255px !important;	left:21px !important;	top:461px !important;}#item28 {	width:144px !important;	height:215px !important;	left:271px !important;	top:192px !important;}#item29 {	width:104px !important;	height:225px !important;	left:449px !important;	top:289px !important;}#item30 {	width:166px !important;	height:196px !important;	left:509px !important;	top:71px !important;}#item31 {	width:136px !important;	height:208px !important;	left:873px !important;	top:136px !important;}#item32 {	width:125px !important;	height:202px !important;	left:663px !important;	top:307px !important;}#item33 {	width:227px !important;	height:177px !important;	left:778px !important;	top:552px !important;}#item34 {	width:1024px !important;	height:771px !important;	background:url('../images/item34.png') no-repeat 0px 50%;}#item35 {	width:75px !important;	height:174px !important;	left:722px !important;	top:154px !important;	background:url('../images/item35.png') no-repeat 0px 50%;}#item36 {	width:234px !important;	height:270px !important;	left:785px !important;	top:30px !important;	background:url('../images/item36.png') no-repeat 0px 50%;}#item37 {	width:59px !important;	height:61px !important;	left:628px !important;	top:322px !important;	background:url('../images/item37.png') no-repeat 0px 50%;}#item38 {	width:59px !important;	height:61px !important;	left:649px !important;	top:265px !important;	background:url('../images/item38.png') no-repeat 0px 50%;}#item39 {	width:108px !important;	height:199px !important;	left:506px !important;	top:68px !important;	background:url('../images/item39.png') no-repeat 0px 50%;}#item40 {	width:278px !important;	height:175px !important;	left:649px !important;	top:555px !important;	background:url('../images/item40.png') no-repeat 0px 50%;}#item41 {	width:317px !important;	height:321px !important;	left:166px !important;	top:362px !important;	background:url('../images/item41.png') no-repeat 0px 50%;}#item42 {	width:108px !important;	height:251px !important;	left:130px !important;	top:461px !important;	background:url('../images/item42.png') no-repeat 0px 50%;}#item43 {	width:262px !important;	height:168px !important;	left:46px !important;	top:579px !important;	background:url('../images/item43.png') no-repeat 0px 50%;}#item44 {	width:115px !important;	height:202px !important;	left:307px !important;	top:185px !important;	background:url('../images/item44.png') no-repeat 0px 50%;}#item45 {	width:187px !important;	height:191px !important;	left:486px !important;	top:461px !important;	background:url('../images/item45.png') no-repeat 0px 50%;}#item46 {	width:110px !important;	height:179px !important;	left:449px !important;	top:284px !important;	background:url('../images/item46.png') no-repeat 0px 50%;}#item47 {	width:54px !important;	height:418px !important;	left:602px !important;	top:45px !important;	background:url('../images/item47.png') no-repeat 0px 50%;}#item48 {	width:114px !important;	height:208px !important;	left:905px !important;	top:136px !important;	background:url('../images/item48.png') no-repeat 0px 50%;}#item49 {	width:108px !important;	height:189px !important;	left:905px !important;	top:541px !important;	background:url('../images/item49.png') no-repeat 0px 50%;}#item50 {	width:108px !important;	height:189px !important;	left:663px !important;	top:326px !important;	background:url('../images/item50.png') no-repeat 0px 50%;}#item51 {	width:59px !important;	height:61px !important;	left:722px !important;	top:43px !important;	background:url('../images/item51.png') no-repeat 0px 50%;}#item52 {	width:59px !important;	height:61px !important;	left:705px !important;	top:97px !important;	background:url('../images/item52.png') no-repeat 0px 50%;}#item53 {	width:59px !important;	height:61px !important;	left:681px !important;	top:154px !important;	background:url('../images/item53.png') no-repeat 0px 50%;}#item54 {	width:59px !important;	height:61px !important;	left:658px !important;	top:210px !important;	background:url('../images/item54.png') no-repeat 0px 50%;}#item55 {	width:119px !important;	height:122px !important;	left:16px !important;	top:351px !important;	background:url('../images/item55.png') no-repeat 0px 50%;}#item56 {	width:63px !important;	height:58px !important;	left:740px !important;	top:184px !important;	background:url('../images/item56.png') no-repeat 0px 50%;}#item57 {	width:19px !important;	height:21px !important;	left:990px !important;	top:735px !important;	background:url('../images/item57.png') no-repeat 0px 50%;}#item58 {	width:19px !important;	height:21px !important;	left:990px !important;	top:23px !important;	background:url('../images/item58.png') no-repeat 0px 50%;}#item83 {	width:164px !important;	height:205px !important;	left:-15px !important;	top:313px !important;}#item84 {	width:104px !important;	height:220px !important;	left:210px !important;	top:269px !important;}#item85 {	width:104px !important;	height:224px !important;	left:371px !important;	top:444px !important;}#item86 {	width:104px !important;	height:244px !important;	left:548px !important;	top:64px !important;}#item87 {	width:139px !important;	height:205px !important;	left:870px !important;	top:35px !important;}#item88 {	width:1024px !important;	height:771px !important;	background:url('../images/item88.png') no-repeat 0px 50%;}#item89 {	width:116px !important;	height:193px !important;	left:364px !important;	top:438px !important;	background:url('../images/item89.png') no-repeat 0px 50%;}#item90 {	width:121px !important;	height:210px !important;	left:46px !important;	top:519px !important;	background:url('../images/item90.png') no-repeat 0px 50%;}#item91 {	width:110px !important;	height:205px !important;	left:46px !important;	top:308px !important;	background:url('../images/item91.png') no-repeat 0px 50%;}#item92 {	width:124px !important;	height:235px !important;	left:170px !important;	top:494px !important;	background:url('../images/item92.png') no-repeat 0px 50%;}#item93 {	width:119px !important;	height:198px !important;	left:200px !important;	top:298px !important;	background:url('../images/item93.png') no-repeat 0px 50%;}#item94 {	width:88px !important;	height:263px !important;	left:298px !important;	top:494px !important;	background:url('../images/item94.png') no-repeat 0px 50%;}#item95 {	width:115px !important;	height:286px !important;	left:658px !important;	top:64px !important;	background:url('../images/item95.png') no-repeat 0px 50%;}#item96 {	width:118px !important;	height:212px !important;	left:540px !important;	top:60px !important;	background:url('../images/item96.png') no-repeat 0px 50%;}#item97 {	width:171px !important;	height:146px !important;	left:779px !important;	top:208px !important;	background:url('../images/item97.png') no-repeat 0px 50%;}#item98 {	width:130px !important;	height:210px !important;	left:865px !important;	top:30px !important;	background:url('../images/item98.png') no-repeat 0px 50%;}#item99 {	width:271px !important;	height:377px !important;	left:519px !important;	top:352px !important;	background:url('../images/item99.png') no-repeat 0px 50%;}#item100 {	width:54px !important;	height:48px !important;	left:745px !important;	top:185px !important;	background:url('../images/item100.png') no-repeat 0px 50%;}#item101 {	width:19px !important;	height:21px !important;	left:990px !important;	top:23px !important;	background:url('../images/item101.png') no-repeat 0px 50%;}#in5footer {display:none;}