.clickable{
    cursor: pointer;
}
.hidden{
  display:none;
}
#magContainer{
    position:absolute;
    left:-100%;
    padding:0;
    overflow: hidden;
    z-index : 4000000;
    -webkit-transform: translate3d(0,0,0);
}

#paper-vertical li{
  list-style:none;
}


#thumbs_container {
  position:absolute;
  background:#eee;
  border-left:1px solid #bbb;
  width:120px;
  right:-120px;
  left:auto;
}

.scroller {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translate3d(0,0,0);
    position: absolute;
    z-index : 200;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.scroller_container{
  overflow:hidden;
}

button.backButton {
  position: absolute;
  width:120px;
  height:44px;
  box-sizing: none;
  display: block;
  padding: none;
  line-height: 44px;
  color: #ffffff;
  background-color: #552546;
  border: none;
  box-shadow: none;
  text-align: center;
  font-family: 'chevron';
  font-size: 22px;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  right:0;
  bottom: 0px;
  z-index: 70000;
}

#magPageThumbs {
    position:absolute;
    right: 0px;
    padding-bottom:44px;
    /* width: 120px; */
    //height: 10000px;
    background:#eee;
    z-index:5000;
    overflow: hidden;
    /* -webkit-box-shadow: 0px 0px 5px #999; */
    -webkit-transform: translate3d(0,0,0);
}
#magPageThumbs li{
    display: block;
    padding:10px;
    background:#eee;
    border-bottom:1px solid #bbb;
}

#magPageThumbs li>div {
   margin:auto;
   width:100px;
   height:80px;
   background:#345;
   text-align:center;
   border:1px solid #bbb;
   background-size: cover;
   cursor: pointer;
   
}

#magPageThumbs li>div.selected{
    border:2px solid #D12FDF;
    color:#fff;
}
#magPageThumbs li>div.selected>span {
   color:#000;
   opacity:0.3;
   border-left:0;
}

#magPageThumbs li>div>span {
   display:block;
   line-height:80px;
   color:#444;
   opacity:0.9;
   width:30px;
   height:100%;
   margin-left:auto;
   background:#fff;
   border-left: 1px solid #bbb;
}
#navToggle{
  position:absolute;
  right:0;
  top:50%;
  background:#fff;
  width:50px;
  height:60px;
  z-index:5000;
  opacity:0.6;
  border : 1px solid #bbb;
  -webkit-box-shadow: 0px 0px 4px #bbb;
}

#navPrev{
  position:absolute;
  right:70px;
  top:5px;
  background:#fff;
  width:50px;
  height:30px;
  z-index:5000;
  border : 1px solid #bbb;
}

#navNext{
  position:absolute;
  right:10px;
  top:5px;
  background:#fff;
  width:50px;
  height:30px;
  z-index:5000;
  border : 1px solid #bbb;
}

.thumbnails{
    padding-top:8px;
}


.progress {
height:8px;    
  border: 1px solid #333;
  background: transparent;
  overflow: hidden;
  -webkit-border-radius: 2px;
}

.progress > span {
  display: inline-block;
  height: 13px;
  width: 0%;
  background: #D12FDF;    
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
  -webkit-transition: width .4s ease-in-out;
}

/* In5 CSS overrides */

div.paper-vertical, div.paper-horizontal {
  padding: 0px;
}

div.paper-vertical .page, .paper-horizontal .page {
	border: none;	
	margin: 0;
}

div.paper-vertical li.page, .paper-horizontal li.page{
  list-style:none;
  float:none;
}


video{
    display:none;
}

.video-mask{
    width:100%;
    height:100%;
    background-color:#000;
    opacity:0.8;
    
}

#header.discrete{
    opacity:0.5;
    position:absolute;
    top:0;
}
/*Mag thumbnails*/
.thumbnail img {
    max-height:100px;
    max-width:100px;
}
.thumbnail h3 {
   display:block;
    position:relative;
    top:5px;
}

/* Swipeview */
#wrapper {
    width: 100%;
    min-width: 320px;
    height: 100%;
}

#swipeview-slider > div {
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: -o-box;
    display: box;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    overflow: hidden;
}




#afui.yp {
font-family: 'Arial';
}


/* This is masthead bar that appears at the top of the UI */
#header {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 250;
  border: none;
  height:0;
}
#header div{
  color: inherit;
  background: #552546;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  display: block;
  height: 44px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}


#header div h1 {
  position: absolute;
  left: 27.5%;
  z-index: 1;
  width: 45%;
  height: 44px;
  padding: 10px 0;
  font-size: 18px;
  font-weight: bold;
  color: inherit;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.8) 0 -1px 0;
  white-space: nowrap;
  color:#fff;
}
#header h1 {
  width: 45%;
  text-shadow: none;
}

#header h1 {
  position: absolute;
  left: 27.5%;
  z-index: 1;
  width: 45%;
  height: 44px;
  padding: 10px 0;
  font-size: 18px;
  font-weight: bold;
  color: inherit;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.8) 0 -1px 0;
  white-space: nowrap;
}

#afui div#content {
  position: absolute;
  top: 44px;
  right: 0;
  bottom: 0px;
  left: 0;
  z-index: 180;
  display: block;
  overflow: hidden;
}